* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    html, body {
      margin: 0;
      padding: 0;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    body {
      background: url('background5.jpg') no-repeat center top / cover;
      background-attachment: fixed;
    }

    main {
      color: white;
      padding-left: 7%;
      padding-right: 7%;
      padding: 4%;
    }

    .title {
      border-radius: 15px;
      padding: 0.5%;
      font-weight: 800;
      font-size: 2.5em;
      display: inline;
      background-color: rgba(0, 0, 0, 0.5);
    }

    .text {
      margin-top: 3%;
      font-size: 1.4em;
      padding: 0.5%;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 15px;
      padding-left: 2%;
      padding-right: 2%;
    }

    .content {
    }

    a {
      outline: none;
      color: inherit;
      background-color: transparent;
      text-decoration: none;
    }

    a:focus, a:active {
      outline: none;
      color: inherit;
      background-color: transparent;
    }

    nav {
      background-color: rgba(0, 0, 20, 0.6);
      min-height: 10vh;
    }  
    #current {
      font-weight: bolder;
      color: yellow;
    }

    .navbar-nav .nav-link:hover {
      color: yellow;
    }

    footer
    {
      background-color: rgba(0, 0, 20);
      min-height: 20vh;
      color: rgba(255, 255, 255);
      padding: 3%;
      opacity: 90%;
      display: flex;
      font-size: 1.2em;
      display: flex;
      justify-content: space-between;
    }
    footer h4 {
      color: rgba(255, 255, 0);
    }
    footer div
    {
      max-width: 30%;
    }
    .website-name {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: auto;
      background-color: rgba(0, 0, 20, 0.65);
      border-bottom: 3px solid rgb(252, 194, 3, 0.8);
      padding-top: 0.5%;
    }
    .website-name h1 {
      letter-spacing: .2rem;
      word-spacing: .2rem;
      font-family: Bebas Neue;
      color: yellow;
    }
   .marked
    {
      color: yellow;
    }
    p {
      text-indent: 1%;
    }
    .super-video
    {
      display: flex;
      justify-content: center;
    }